@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #CD5DF0;
    --cor2: #C65AE7;
    --cor3: #A94DC5;
    --cor4: #8C40A3;
    --cor5: #6F3281;
    --cor6: #52255F;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #ebb4fc, #6e2d80);
}

header {
    color: white;
    background-color: var(--cor4);
    padding: 30px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.349);
    text-shadow: 2px 2px 0 black;
}

header > h1 {
    position: absolute;
    left: 200px;
    top: 75px;
    text-decoration: underline;
}

header > img {
    border-radius: 5cm;
    border: 1px solid black;
    background-color: var(--cor2);
}

article {
    background-color: white;
    max-width: 600px;
    height: 760px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

article > h1 {
    padding-bottom: 20px;
}